/* 
#f78888
#f3d250
#ececec
#90ccf4
#5da2d5
*/

* {
    font-family: sans-serif;
}

body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.centered {
    width: 100%;
    max-width: 1200px;
}

div.nav-container {
    background-color: #90ccf4;
    color: #0a0a0a;
    position: -webkit-sticky;
    /* safari */
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 60px;
}

nav * {
    display: inherit;
    height: 100%;
}

nav a {
    font-size: 20px;
    align-items: center;
    padding: 0 18px;
    transition-duration: 200ms;
}

nav a:hover {
    background-color: #5da2d5;
}

div.body_container {
    background-color: #ececec;
}

.body {
    background-color: #fafafa;
}

.push {
    margin-left: auto;
}

a {
    text-decoration-line: none;
    color: inherit;
}