/* 
17252a
2b7a78
3aafa9
def2f1
feffff
*/

* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-horizontal {
    flex-direction: row;
}

.container-header {
    flex: 0 0 auto;
    background-color: white;
}

.container-nav {
    flex: 0 0 auto;
    background-color: #17252a;
    color: #feffff;
    position: -webkit-sticky;
    /* safari */
    position: sticky;
    top: 0;
}

.container-body {
    flex: 1 1 auto;
    background-color: #3aafa9;
}

.container-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #17252a;
    color: white;
    /* flex: 0 1 40px; */
}

.container-body-inside {
    padding: 16px 0;
    flex: 1 1 auto;
    background-color: #def2f1;
}

.centered {
    width: 100%;
    max-width: 1200px;
}

.centered-small {
    max-width: 500px;
}

header {
    padding: 10px;
}

header>h1 {
    margin: 0 10px;
}

nav {
    margin: 0;
    height: 60px;
}

nav * {
    display: inherit;
    height: 100%;
}

nav a {
    font-size: 20px;
    align-items: center;
    padding: 0 18px;
    transition-duration: 200ms;
}

nav a:hover {
    background-color: #2b7a78;
}

footer {
    padding: 10px;
}

footer>* {
    margin: 0 10px;
}

form {
    margin: 16px;
    padding: 16px;
    border: 2px solid #d6d6d6;
    border-radius: 16px;
}

form * {
    padding: 3px;
    margin: 5px;
}

div.flash {
    background-color: #f78888;
    padding: 12px;
    border-radius: 10px;
}

.push {
    margin-left: auto;
}

a {
    text-decoration-line: none;
    color: inherit;
}

.img_viewer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img_viewer>div {
    width: 30%;
    margin: 10px 5px;
    border: 1px gray solid;
    border-radius: 0 0 10px 10px;
    background-color: #def2f1;
}

.img_viewer>div>img {
    width: 100%;
}

.img_viewer>div>cite {
    display: block;
    padding: 6px;
}