/* 
#f78888
#f3d250
#ececec
#90ccf4
#5da2d5
*/

* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-horizontal {
    flex-direction: row;
}

.container-header {
    flex: 0 0 auto;
}

.container-nav {
    flex: 0 0 auto;
    background-color: #90ccf4;
    color: #0a0a0a;
    position: -webkit-sticky;
    /* safari */
    position: sticky;
    top: 0;
}

.container-body {
    flex: 1 1 auto;
    background-color: #ececec;
}

.container-footer {
    flex: 0 1 40px;
}

.container-body-inside {
    padding: 16px 0;
    flex: 1 1 auto;
    background-color: #fafafa;
}

.centered {
    width: 100%;
    max-width: 1200px;
}

.centered-small {
    max-width: 300px;
}

nav {
    margin: 0;
    height: 60px;
}

nav * {
    display: inherit;
    height: 100%;
}

nav a {
    font-size: 20px;
    align-items: center;
    padding: 0 18px;
    transition-duration: 200ms;
}

nav a:hover {
    background-color: #5da2d5;
}

footer {
    bottom: 0;
}

form {
    margin: 16px;
    padding: 16px;
    border: 2px solid #d6d6d6;
    border-radius: 16px;
}

form * {
    padding: 3px;
    margin: 5px;
}

div.flash {
    background-color: #f78888;
    padding: 12px;
    border-radius: 10px;
}

.push {
    margin-left: auto;
}

a {
    text-decoration-line: none;
    color: inherit;
}