<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
    <div class="container container-header">
        <header class="centered">
            <!-- TODO: add message flashing -->
            LOGO HERE
        </header>
    </div>
    <div class="container container-nav">
        <nav class="container container-horizontal centered">
            <!-- TODO -->
            <a href="/">Home</a>
            {% if session.user_id %}
            <a href="/upload">Upload</a>
            <a href="/browse">Browse</a>
            <a class="push" href="/logout">Log out</a>
            {% else %}
            <a class="push" href="/register">Register</a>
            <a href="/login">Login</a>
            {% endif %}
        </nav>
    </div>
    <div class="container container-body">
        <div class="container container-body-inside container-vertical centered">
            {% if get_flashed_messages() %}
            <div class="flash">
                {{ get_flashed_messages() | join(" ") }}
            </div>
            {% endif %}
            {% block body %}{% endblock body %}
        </div>
    </div>
    <div class="container container-footer">
        <footer class="centered">
            <!-- TODO -->
        </footer>
    </div>
</body>

</html>